:root {
  --black: #393939;
  --white: #ececec;
  --main-type: "metropolisregular", Helvetica, Arial, sans-serif;
  --second-type: "palanquin_darkregular";
  --bold-type: "metropolissemi_bold";
  --extra-bold: "metropolisextra_bold" ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #ececec;
    --white: #393939;
  }
}
@media (prefers-contrast: high) {
  :root {
    --black: black;
    --white: white;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  /* hyphens: auto; */
  background-color: transparent;
  color: inherit;
  display: block;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--main-type);
  color: var(--black);
  line-height: 1.4em;
  /* hyphens: auto; */
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "metropolisbold";
  src: url("fonts/metropolis-bold-webfont.woff2") format("woff2"), url("fonts/metropolis-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "metropolisextra_bold";
  src: url("fonts/metropolis-extrabold-webfont.woff2") format("woff2"), url("fonts/metropolis-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "metropolisextra_light";
  src: url("fonts/metropolis-extralight-webfont.woff2") format("woff2"), url("fonts/metropolis-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "metropolislight";
  src: url("fonts/metropolis-light-webfont.woff2") format("woff2"), url("fonts/metropolis-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "metropolisregular";
  src: url("fonts/metropolis-regular-webfont.woff2") format("woff2"), url("fonts/metropolis-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "metropolisregular_italic";
  src: url("fonts/metropolis-regularitalic-webfont.woff2") format("woff2"), url("fonts/metropolis-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "metropolissemi_bold";
  src: url("fonts/metropolis-semibold-webfont.woff2") format("woff2"), url("fonts/metropolis-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "palanquin_darkregular";
  src: url("fonts/palanquindark-regular-webfont.woff2") format("woff2"), url("fonts/palanquindark-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*HEADER*/
.header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.02em 1.55em;
  position: fixed;
  top: 0;
  z-index: 2;
  color: white;
  font-size: 0.8em;
  font-family: var(--bold-type);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.header__izq {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.header__h1 {
  margin: 0 1.8em 0 0;
}

.header__img {
  max-width: 8.45em;
  transform: translateY(-0.2em);
}

.header__g {
  fill: white;
}

.header__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.header__li {
  margin: 0 2em 0 0;
}

.header__svg {
  margin: 0 0.5em 0 0;
}

.header__btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.header__menu {
  display: none;
  width: 2em;
  height: 2em;
}

.header__btn--join {
  color: black;
  background-color: white;
  border-radius: 2em;
  padding: 1em 2em;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
  cursor: pointer;
}

.header__btn--join:hover {
  box-shadow: 0 0.3em 1.4em rgba(0, 0, 0, 0.7);
}

.wrapper {
  width: 90%;
  max-width: 1620px;
  margin: auto;
}

.swipe {
  width: 100%;
  min-height: 100vh;
  background: url(../assets/download-2.webp) center/cover fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-family: var(--bold-type);
}

.swipe::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}

.swipe__h2 {
  margin: 0 0 1rem;
  position: relative;
  z-index: 2;
  font-size: clamp(2em, 7.8vw, 10em);
  line-height: 1em;
}

.swipe__btn {
  position: relative;
  z-index: 2;
  padding: 1em 2em;
  border-radius: 2em;
  cursor: pointer;
  transition: all 0.5 ease;
  background-color: orange;
  overflow: hidden;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.swipe__btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(270deg, rgb(255, 96, 54) 45%, rgb(253, 38, 122) 70%);
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(0deg) scale(3.7);
  transition: all 0.5 ease;
}

.swipe__btn:hover {
  box-shadow: 0 0.3em 1.4em rgba(0, 0, 0, 0.4);
}

.swipe__btn:hover::after {
  transform: rotate(180deg) scale(3.7);
}

.swipe__span {
  position: relative;
  z-index: 2;
}

.testimonies {
  padding: 5vh 0;
}

.testimonies__wrapper {
  overflow: hidden;
}

.testimonies__slider {
  width: 200%;
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
}

.testimonies__slide {
  border: 1px solid rgb(212, 216, 222);
  padding: 1.5em;
  border-radius: 0.5em;
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.12);
}

.testimonies__names {
  padding: 0 0 1em;
  margin: 0 0 1em;
  border-bottom: 1px solid rgba(101, 110, 123, 0.1215686275);
  font-size: 1.2em;
  font-family: var(--bold-type);
  position: relative;
}

.testimonies__names::after {
  content: '"';
  position: absolute;
  top: -0.07em;
  right: 0;
  color: rgba(101, 110, 123, 0.3411764706);
  font-family: var(--second-type);
  font-size: 6em;
  line-height: 0;
  transform: rotate(180deg);
}

@media (max-width: 760px) {
  .header__nav,
  .header__ul {
    display: none;
  }
  .header__menu {
    display: flex;
  }
}
/* FOOTER */
.legal {
  margin: 0 0 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1.2em;
}

.legal__col {
  padding: 1em;
}

.legal__ul--rrss {
  display: flex;
  flex-flow: row wrap;
}

.legal__li {
  margin: 0 0 0.4em 0;
}

.legal__li--title {
  font-family: var(--extra-bold);
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  margin: 0 0 1em;
}

.legal__a {
  transition: all 0.5 ease;
}

.legal__a:hover {
  color: red;
}

.legal__svg {
  width: 1.6em;
  height: 1.6em;
  margin: 0 0.4em;
}

.app {
  margin: 0 0 1em;
  padding: 1em 1em 0;
  border-top: 1px solid rgb(212, 216, 222);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.app__h2 {
  margin: 0 1em 0 0;
  font-family: var(--extra-bold);
  text-transform: uppercase;
  align-items: center;
}

.app__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.app__li {
  margin: 0 1em 0 0;
}

.app__img {
  max-width: 12em;
}

.footer__claim {
  margin: 0 0 1em;
  padding: 0 1em;
  font-size: 0.85em;
  line-height: 1.4em;
}

.footer__sub {
  border-top: 1px solid grey;
  padding: 1em 1em 0;
  margin-bottom: 50vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.83em;
}

.faqs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.faqs__li {
  display: flex;
}

.faqs__li::after {
  content: "/";
  display: block;
  margin: 0 1em;
  color: #656e7b;
}

/*# sourceMappingURL=app.css.map */
