@import 'reset', 'mixins', 'keyframes', 'font';

.header {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 1.6em;
  position: fixed;
  top: 0;
  z-index: 2;

  color: white;
  font-size: 0.8em;
  font-family: var(--bold-type);
  letter-spacing: 0.5px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.header__izq {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.header__h1 {
  margin: 0 1.8em 0 0;
}

.header__logo {
}

.header__img {
  max-width: 8.45em;
  transform: translateY(-0.2em);
}

.header__g {
  fill: white;
}

.header__nav {
}

.header__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.header__li {
  margin: 0 2em 0 0;
}

.header__a {
}

.header__der {
  background-color: pink;
}

.header__svg {
  margin: 0 0.5em 0 0;
}

.header__btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.btns {
}

.header__menu {
  display: none;

  width: 2em;
  height: 2em;
  background-color: salmon;
}

.main {
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.swipe {
  width: 100%;
  min-height: 100vh;
  background: url(../assets/download-2.webp) center / cover fixed;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: relative;
  color: white;

  font-family: var(--bold-type);
}

.swipe::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}

.swipe__h2 {
  margin: 0 0 1rem;
  position: relative;
  z-index: 2;

  font-size: clamp(2em, 7.8vw, 10em);
  line-height: 1em;
}

.swipe__btn {
  /* background: linear-gradient( */
  /*   270deg, */
  /*   rgba(255, 96, 54, 1) 0%, */
  /*   rgba(253, 38, 122, 1) 100% */
  /* ); */
  position: relative;
  z-index: 2;
  padding: 1em 2em;
  border-radius: 2em;
  cursor: pointer;
  transition: all 0.5 ease;

  background-color: orange;
  overflow: hidden;
}

.swipe__btn::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(270deg, rgba(255, 96, 54, 1) 0%, rgba(253, 38, 122, 1) 100%);
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

.swipe__btn:hover {
  background: linear-gradient(
    270deg,
    rgba(253, 38, 122, 1) 0%,
    rgba(255, 96, 54, 1) 100%
  );
}

.testimonies {
  padding: 5vh 0;
}

.testimonies__wrapper {
  overflow: hidden;
}

.testimonies__slider {
  width: 200%;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
}

.testimonies__slide {
  border: 1px solid gray;
  padding: 1em;
  border-radius: 0.5em;
}

.testimonies__names {
  padding: 0 0 1em;
  margin: 0 0 1em;
  border-bottom: 1px solid grey;
  position: relative;
}

.testimonies__names::after {
  content: '"';
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4em;
  font-family: 'Courier New', Courier, monospace;
}

.testimonies__p {
}

@media (max-width: 760px) {
  .header__nav,
  .header__ul {
    display: none;
  }

  .header__menu {
    display: flex;
  }
}

/* FOOTER */
.footer {
}

.footer__legal {
}

.legal {
  margin: 0 0 1em;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1em;
}
.legal__col {
  background-color: orange;
}
.legal__ul {
}
.legal__li {
}
.legal__a {
}

.footer__app {
}
.app {
  margin: 0 0 1em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.app__h2 {
  margin: 0 1em 0 0;
}

.app__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.app__li {
  margin: 0 1em 0 0;
}

.footer__claim {
  margin: 0 0 1em;
}

.footer__sub {
  border-top: 1px solid grey;
  padding: 1em 0 0;
  margin-bottom: 50vh;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.footer__faqs {
}

.faqs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.faqs__li {
  display: flex;
}

.faqs__li::after {
  content: '/';
  display: block;
  margin: 0 1em;
}

.footer__copy {
}
