@import 'reset', 'mixins', 'keyframes';

.header {
  width: 100%;
  background: lightgray;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 2em;
}

.header__izq {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.header__h1 {
  background: lightblue;
  margin: 0 1em 0 0;
}

.header__logo {
}

.header__img {
}

.header__nav {
}

.header__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.header__li {
  background-color: lightblue;
  margin: 0 0.5em 0 0;
}

.header__a {
}

.header__der {
  background-color: pink;
}

.header__svg {
  margin: 0 0.5em 0 0;
}

.header__btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.btns {
}

.header__menu {
  display: none;

  width: 2em;
  height: 2em;
  background-color: salmon;
}

.main {
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.swipe {
  width: 100%;
  min-height: 90vh;
  background-color: lightgrey;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0.1em 0;
}

.swipe__h2 {
  background-color: red;
  margin: 0 0 1em;
}

.swipe__btn {
  background-color: bisque;
}

.testimonies {
  padding: 5vh 0;
}

.testimonies__wrapper {
  overflow: hidden;
}

.testimonies__slider {
  width: 200%;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
}

.testimonies__slide {
  border: 1px solid gray;
  padding: 1em;
  border-radius: 0.5em;
}

.testimonies__names {
  padding: 0 0 1em;
  margin: 0 0 1em;
  border-bottom: 1px solid grey;
}

.testimonies__p {
}

@media (max-width: 760px) {
  .header__nav,
  .header__ul {
    display: none;
  }

  .header__menu {
    display: flex;
  }
}
